body{

margin:0;

font-family:'Segoe UI',sans-serif;

background:#ecfdf5;

padding:30px;

color:#14532d;

}

/* CONTAINER */

.stats-container{

max-width:1200px;

margin:auto;

}

/* TOP */

.top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.top h1{

font-size:40px;

}

/* BOTON */

button{

background:
linear-gradient(
135deg,
#34d399,
#10b981);

border:none;

padding:14px 24px;

border-radius:15px;

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.05);

}

/* GRID */

.stats-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-bottom:25px;

}

/* CARD */

.card{

background:white;

padding:30px;

border-radius:30px;

box-shadow:
0 10px 30px rgba(16,185,129,0.1);

}

/* CIRCULO */

.circle-card{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}

.circle{

width:240px;

height:240px;

border-radius:50%;

background:
conic-gradient(
#10b981 0deg,
#10b981 220deg,
#dcfce7 220deg
);

display:flex;

justify-content:center;

align-items:center;

margin-top:20px;

position:relative;

}

.circle::before{

content:"";

position:absolute;

width:170px;

height:170px;

background:white;

border-radius:50%;

}

.circle span{

position:relative;

font-size:42px;

font-weight:bold;

color:#166534;

}

/* MATERIAS */

.materia{

margin-bottom:20px;

}

.materia-top{

display:flex;

justify-content:space-between;

margin-bottom:8px;

font-weight:bold;

}

.barra{

width:100%;

height:18px;

background:#dcfce7;

border-radius:20px;

overflow:hidden;

}

.progreso{

height:100%;

background:
linear-gradient(
90deg,
#34d399,
#10b981);

border-radius:20px;

}

/* IA */

.recomendacion p{

font-size:20px;

line-height:1.7;

color:#166534;

}

/* RESPONSIVE */

@media(max-width:900px){

.stats-grid{

grid-template-columns:1fr;

}

.top{

flex-direction:column;

gap:20px;

text-align:center;

}

}