body{

    margin:0;

    font-family:'Segoe UI',sans-serif;

    background:
    linear-gradient(
    135deg,
    #f0fff7,
    #dcfce7);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

/* CONTAINER */

.quiz-container{

    width:100%;

    max-width:800px;

    padding:20px;
}

/* TOPBAR */

.topbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}

.vidas{

    font-size:28px;
}

.xp-box{

    background:white;

    padding:12px 18px;

    border-radius:16px;

    font-weight:bold;

    color:#166534;

    box-shadow:
    0 5px 15px rgba(16,185,129,0.1);
}

/* CARD */

.quiz-card{

    background:white;

    border-radius:30px;

    padding:40px;

    box-shadow:
    0 10px 35px rgba(16,185,129,0.12);

    animation:fade 0.4s ease;
}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(20px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}

/* PREGUNTA */

.question-number{

    color:#10b981;

    font-weight:bold;

    margin-bottom:10px;
}

#pregunta{

    font-size:40px;

    color:#14532d;

    margin-bottom:35px;
}

/* OPCIONES */

.options{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;
}

.option{

    background:#f0fdf4;

    border:2px solid #bbf7d0;

    padding:22px;

    border-radius:20px;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.option:hover{

    transform:translateY(-3px);

    background:
    linear-gradient(
    135deg,
    #34d399,
    #10b981);

    color:white;

    box-shadow:
    0 10px 20px rgba(16,185,129,0.2);
}

/* FEEDBACK */

.feedback{

    margin-top:25px;

    padding:18px;

    border-radius:18px;

    font-size:18px;

    font-weight:bold;
}

.correct-box{

    background:#dcfce7;

    color:#166534;
}

/* BOTON */

.next-btn{

    width:100%;

    margin-top:25px;

    padding:18px;

    border:none;

    border-radius:18px;

    background:
    linear-gradient(
    135deg,
    #34d399,
    #10b981);

    color:white;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.next-btn:hover{

    transform:scale(1.02);
}

/* RESPONSIVE */

@media(max-width:700px){

    .options{

        grid-template-columns:1fr;
    }

    #pregunta{

        font-size:30px;
    }

    .quiz-card{

        padding:25px;
    }
}

.salir-box{

    display:flex;

    justify-content:flex-end;

    margin-bottom:15px;
}

.salir-box button{

    background:#ef4444;

    color:white;

    border:none;

    padding:12px 18px;

    border-radius:14px;

    cursor:pointer;

    font-weight:bold;

    transition:0.3s;
}

.salir-box button:hover{

    transform:scale(1.05);

    background:#dc2626;
}