body {
    margin: 0;
    font-family: Arial;
    background: #f4fff6;
    color: #222;
}

/* HEADER */
header {
    background: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

/* BOTON */
button {
    background: #2e8b57;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #3fa96d;
}

/* MATERIAS */
.subjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.subject {
    background: #f0fff4;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #2e8b57;
}

.subject:hover {
    background: #2e8b57;
    color: white;
}

/* PROGRESO */
.progress-bar {
    background: #ddd;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#progress {
    height: 100%;
    width: 0%;
    background: #2e8b57;
    border-radius: 10px;
}

/* CALENDARIO REAL */
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    margin-top: 10px;
}

/* DIAS SEMANA */
.diaTitulo {
    text-align: center;
    font-weight: bold;
    color: #2e8b57;
}

/* DIAS */
.day {
    background: #f0fff4;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #2e8b57;
    font-weight: bold;
}

/* HOY */
.today {
    border: 3px solid #2e8b57;
}

/* COLORES PROGRESO */
.red {
    background: #ffd6d6;
}

.yellow {
    background: #fff4b3;
}

.green {
    background: #c8f7c5;
}

/* CUADRO DE PUNTOS */
.score-box {
    background: #f0fff4;
    border: 2px solid #2e8b57;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* TIENDA */
.tienda-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.mini-card {
    background:white;
    border-radius:15px;
    padding:15px;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.mini-card h3 {
    margin:10px 0;
}

.mini-card p {
    font-size:16px;
    color:#555;
}

.mini-card button {
    background:#2e8b57;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.mini-card button:hover {
    background:#3fa96d;
}